# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/default/files
sites/default/private_files

# Ignore tmp folder
sites/default/tmp

#Ignore .idea folder
.idea/