.like-and-dislike-container {
  a {
    display: inline-block;
    width: 21px;
    height: 21px;
    text-indent: -9999px;
    background: url('../images/icons.png') 0 0 no-repeat;
  }
  &.like {
    a {
      background-position-y: -88px;

      &.disable-status {
        background-position-y: -132px;
      }
    }

  }
  &.dislike {
    a {
      background-position-y: 0;

      &.disable-status {
        background-position-y: -44px;
      }
    }
  }
}