.newsroom-item {
  margin: 1.5em 0;
}

/* Teaser view mode for the newsroom_item */
.newsroom-item--teaser {
  padding: 0 !important;
  border: none !important;
}

.newsroomPage-container.node-sticky {
  padding-bottom: 0.5em;
}

.newsroomPage-container .newsroom-read-more:hover::after {
  border-color: transparent transparent transparent #003556;
}

.newsroomPage-container .node-info-submitted,
.newsroomPage-container h2 {
  display: none;
}

.newsroomPage-filterForm,
.newsroomAgenda-filterForm {
  border-bottom: solid 1px #ced9e4;
  background: #fff;
  padding: 0 15px 12px;
  margin: -15px -15px 25px -15px;
}

.newsroomPage-filterForm:after,
.newsroomAgenda-filterForm:after {
  clear: both;
  content: "";
  display: block;
}

.newsroomPage-filterForm h3,
.newsroomAgenda-filterForm h3 {
  padding: 0.3em 1em;
}

.newsroomPage-filterForm form > div > .form-item,
.newsroomPage-filterForm .container-inline-date,
.newsroomAgenda-filterForm form > div > .form-item,
.newsroomAgenda-filterForm .container-inline-date {
  width: 47%;
  float: left;
  margin-right: 6%;
}

.newsroomPage-filterForm form > div > .checkbox,
.newsroomAgenda-filterForm form > div > .checkbox {
  width: 100%;
  clear: both;
}

.newsroomPage-filterForm form > div > .checkbox > label,
.newsroomAgenda-filterForm form > div > .checkbox > label {
  font-weight: bold;
}

.newsroomPage-filterForm .date-padding,
.newsroomAgenda-filterForm .date-padding {
  float: none;
  width: 100%;
}

.newsroomPage-filterForm .container-inline-date:nth-child(4),
.newsroomAgenda-filterForm .container-inline-date:nth-child(4) {
  float: left;
  width: 25%;
}

.newsroomPage-filterForm div > .form-item:nth-child(2),
.newsroomPage-filterForm .container-inline-date:nth-child(4),
.newsroomAgenda-filterForm div > .form-item:nth-child(2),
.newsroomAgenda-filterForm .container-inline-date:nth-child(4) {
  margin-right: 0;
}

.newsroomPage-filterForm .container-inline-date .form-item,
.newsroomPage-filterForm .container-inline-date .form-item input,
.newsroomAgenda-filterForm .container-inline-date .form-item,
.newsroomAgenda-filterForm .container-inline-date .form-item input {
  width: 100%;
}

.newsroomPage-filterForm .form-item input,
.newsroomPage-filterForm .form-item select.form-control,
.newsroomAgenda-filterForm .form-item input,
.newsroomAgenda-filterForm .form-item select.form-control {
  background: #ececec;
}

.newsroomPage-filterForm .container-inline-date,
.newsroomAgenda-filterForm .container-inline-date {
  clear: none;
}

.newsroomPage-filterForm .container-inline-date .form-item input,
.newsroomAgenda-filterForm .container-inline-date .form-item input {
  margin-right: 0;
}

.newsroomPage-filterForm .description,
.newsroomAgenda-filterForm .description {
  margin-top: 0.5em;
  font-style: italic;
}

.newsroomPage-filterForm #edit-button,
.newsroomAgenda-filterForm #edit-button {
  float: left;
  width: 20%;
  margin: 1.8em 0 1em 1.58em;
  background: #0065a2;
  text-transform: uppercase;
  color: #fff !important;
  font-weight: bold;
  padding: 7px 12px 6px;
}

.newsroomPage-filterForm #edit-button:hover,
.newsroomAgenda-filterForm #edit-button:hover {
  background: #afd9ee;
  color: #222 !important;
}

.newsroomAgenda-filterForm form > div > .form-item {
  width: 36%;
}

.newsroomAgenda-filterForm #edit-button {
  margin-top: 2.8em;
}

.newsroom-item__type,
.node-type-newsroom-item .field-name-field-newsroom-item-type a,
.node-type-newsroom-item .field-label,
.newsroom_item_container .newsroom_type,
.newsroomPage-filterForm h3,
.newsroomAgenda-filterForm h3,
.sample a,
.furtherDates > .newsroom_title {
  display: inline-block;
  background: #0065a2;
  padding: 0.2em 15px;
  margin: 0 1.5em 1em -15px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9em;
  position: relative;
}

.newsroom-item__type a:link,
.newsroom-item__type a:visited,
.sample a:link,
.sample a:visited {
  color: #fff;
}

.newsroom-item__title {
  margin-bottom: 1em !important;
  line-height: 130%;
  font-size: 1.2em;
  font-weight: 600;
}

.newsroom-item__date {
  background: #ccc;
  padding: 0 1em;
  color: #0065a2;
  display: inline-block;
  margin-bottom: 1em;
  margin-right: 1em;
  position: relative;
}

.newsroom-item__venue {
  font-weight: 600;
}

/* Styling the default view mode */
.node-type-newsroom-item .field-name-body {
  border-bottom: none !important;
}

.node-type-newsroom-item .field-name-field-newsroom-teaser {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
  font-family: monospace;
}

.node-type-newsroom-item .field-name-field-newsroom-teaser:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.node-type-newsroom-item .field-name-field-newsroom-teaser p {
  display: inline;
}

.node-newsroom-item .field-group-div {
  padding-bottom: 1em;
}

.node-newsroom-item .field-name-body {
  border: none;
}

.newsroom_item_container.agenda .date-date {
  background: #f9f9f9;
  border-bottom: 0.222em solid #fed437;
  width: 5%;
  margin-right: 0.75em;
  min-width: 5.556em;
  padding: 0.4em 0.7em;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

.newsroomAgenda-container .date-date {
  position: relative;
  display: inline-block;
  min-height: 5.556em;
  min-width: 5.556em;
  margin-right: 0.75em;
  padding: 0.9em 0.5em 0.7em;
  background: #f2f2f2;
  border-bottom: 0.222em solid #fed437;
  text-align: center;
}

.newsroom_item_container {
  clear: right;
}

.newsroom_item_container .newsroom_type {
  margin: 0 0 0.5em;
  font-size: 0.8em;
}

.newsroom_item_container .views-row .newsroom_title {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 0.3em;
  width: 100%;
}

.newsroom_item_container .newsroom_item_metadata {
  font-style: italic;
  margin-bottom: 0.5em;
}

.newsroom_item_container h3 {
  margin-left: -15px;
  background: #ececec;
  padding: 0.2em 1.5em;
  display: inline-block;
  font-size: 1.3em;
  position: relative;
  color: #0065a2;
  font-weight: 600;
}

.newsroom_item_container .views-row {
  margin-bottom: 1em;
  border-bottom: 2px solid #ececec;
}

.newsroom_item_container.agenda .date-date .day {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2;
}

.newsroom_item_container.agenda .date-date .month {
  font-size: 1em;
  line-height: 1;
}

.newsroom_item_container.agenda .date-events {
  display: inline-block;
  width: 89%;
}

.newsroom_item_container.agenda .date-date::after,
.newsroom_item_container h3::after {
  content: " ";
  position: absolute;
  top: -0.667em;
  right: -0.200em;
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-right: 1em solid #fff;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

@media screen and (min-width: 640px) and (max-width: 1000px) {
  .newsroom_item_container.agenda .date-events {
    width: 79%;
  }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .newsroom_item_container.agenda .date-events {
    width: 70%;
  }

  .newsroom_item_container .views-row .newsroom_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.block-nexteuropa-newsroom > .newsroom_rss {
  position: relative;
  top: 4.5em;
  margin-top: -3em;
  background: #ececec;
  float: right;
  padding: 0.4em 0.5em;
}

.block-nexteuropa-newsroom > .newsroom_rss a.feed-icon {
  padding: 0 0.5em 0 0;
}

.block-nexteuropa-newsroom > .newsroom_rss:after {
  clear: both;
}

.newsroom-image {
  float: right;
  background: #fff;
  border: solid 1px #e5e5e5;
  padding: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: -6px -5px 15px 3%;
  z-index: 5;
  min-width: 90px;
  width: 20%;
}

.newsroom-image .picContainer {
  position: relative;
  border-bottom: 1px solid #f3f3f3;
  text-align: center;
  display: block;
}

.newsroom-image .picContainer img {
  width: 100%;
  height: auto;
}

.newsroom-image .picContainer .zoomIcon {
  display: none;
}

.newsroom-image .picContainer.zoomable {
  cursor: pointer;
}

.newsroom-image .picContainer.zoomable .zoomIcon {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 28px;
  height: 27px;
  background: url(../images/zoom.png) no-repeat 0 0;
}

.newsroom-image figcaption {
  margin-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background: #fff;
}

.newsroom-image figcaption .legend {
  font-size: 11px;
  line-height: 12px;
  padding: 5px 6px 3px;
  color: #555;
  display: inline-block;
  text-align: left;
}

.newsroom-image figcaption .copyright {
  font-size: 10px;
  line-height: 11px;
  padding: 3px 6px 0;
  color: #999;
  display: block;
  text-align: right;
}

.newsroom-image figcaption .copyright a {
  color: #999;
}

.no-result {
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  color: #a02622;
}

/** Agenda presentation **/
.newsroomAgenda-container .date-row {
  position: relative;
  min-height: 80px;
  border-bottom: solid 1px #ddd;
  padding-bottom: 0;
  margin-bottom: 15px;
}

.newsroomAgenda-container .date-date {
  float: left;
  text-align: center;
  width: 7%;
  margin-right: 3%;
}

.newsroomAgenda-container .date-date .day {
  display: block;
  font-size: 250%;
  line-height: 1.0em;
}

.newsroomAgenda-container .date-date .month {
  display: block;
  font-size: 110%;
  letter-spacing: 0.15em;
}

.newsroomAgenda-container .date-date .year {
  display: block;
  font-size: 90%;
}

.newsroom-item--agenda:first-child {
  margin-top: 0;
}

.newsroomAgenda-container .newsroom-item__type {
  margin-left: 0;
}

.newsroomAgenda-container .date-row:after {
  display: block;
  clear: both;
  content: "";
}

.newsroomAgenda-container .newsroom_title a {
  text-decoration: none;
}

.newsroomAgenda-container .newsroom_title a:hover {
  text-decoration: underline;
}

.newsroomAgenda-container .date-events {
  float: left;
  width: 89%;
}

.newsroomAgenda-container .date-events:after {
  display: block;
  clear: both;
  content: "";
}

.newsroomAgenda-container .date-events .views-row {
  border-top: solid 1px #eee;
  padding-top: 15px;
  margin: 0;
}

.newsroomAgenda-container .date-events .views-row:first-child {
  border-top: 0;
  padding-top: 0;
}

.block-nexteuropa-newsroom .newsroom_item_container.agenda .newsroom_type,
.newsroomAgenda-container .newsroom_type {
  font-size: 85%;
}

.agendaPagination {
  margin: 0 -12px;
  padding: 20px 12px;
  box-sizing: content-box;
  float: left;
  width: 100%;
  text-align: center;
}

.agendaPagination .agenda-next,
.agendaPagination .agenda-previous {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
}

.agendaPagination .agenda-next a,
.agendaPagination .agenda-previous a {
  display: inline-block;
  width: 100px;
  border: solid 1px #eee;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
}

.agendaPagination .agenda-next a {
  padding: 1px 26px 2px 8px;
}

.agendaPagination .date-form {
  display: inline-block;
  vertical-align: middle;
  margin: 5px 15px;
}

.agendaPagination .date-form .form-item-current-date label {
  display: none;
}

.agendaPagination .date-form .container-inline-date > .form-item,
.agendaPagination .date-form .container-inline-date .form-item input {
  margin: 0;
  text-align: center;
}

.agendaPagination .container-inline-date .form-item input {
  text-align: center;
  color: #fff;
  background: #0065a2;
  cursor: pointer;
  border-radius: 10px;
}

/** Agenda presentation: end **/
.newsroom-item--featured {
  border-bottom: 2px solid #ececec;
  margin-bottom: 2em;
  padding-bottom: 1em;
}

.newsroom-item--featured .newsroom-item__title {
  font-size: 150%;
}

.newsroom-item--featured .newsroom-item__featured {
  display: inline-block;
  background: #ffd617;
  padding: 0.2em 1em;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9em;
}

.newsroom-item--featured .newsroom-item__teaser {
  font-size: 110%;
}

.newsroom-read-more,
.newsroom_date {
  font-style: italic;
}

.newsroom-read-more {
  text-align: right;
  display: block;
  clear: both;
}

.newsroom-read-more::after,
.newsroom_more::after,
.read-full-text::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #0065a2;
  display: inline-block;
  margin-left: 0.5em;
}

.read-full-text {
  font-weight: bold;
  margin-top: 1em;
}

.newsroom_rss {
  text-align: right;
}

.newsroom_more {
  text-align: right;
  background: #ececec;
  padding: 0.3em 1em;
  float: right;
}

.newsroom_more .placeholder {
  font-style: normal;
}

.subscrNewsletterItem {
  padding: 1em 0;
  border-bottom: 2px solid #ececec;
}

.subscrNewsletterItem h4 {
  font-weight: 600;
}

.subscrNewsletterItem img {
  float: right;
  margin: 0 0 0 1em;
}

.subscrNewsletterItem input[type="submit"] {
  margin: 1.8em 0 0;
  background: #0065a2;
  text-transform: uppercase;
  color: #fff !important;
  font-weight: bold;
  padding: 7px 12px 6px;
}

.subscrNewsletterItem input[type="submit"][disabled] {
  background: #f9f9f9;
  color: #ccc !important;
}

.newsroom-service-page .newsroom-service-widget {
  padding: 2em 0;
}

.newsroom-service-page .middle-step {
  border-left: 4px solid #0065a2;
  padding: 2em 0 2em 3em;
  margin-left: 1.3em;
}

.newsroom-service-page .newsroom-service-email-description {
  display: inline-block;
  font-style: italic;
  font-size: 0.9em;
  min-height: 30px;
}

.newsroom-service-page h2 {
  padding-left: 60px;
  position: relative;
  margin: 0;
}

.newsroom-service-page h2:before {
  content: "1";
  display: block;
  position: absolute;
  left: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #0065a2;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  padding: 3px 0 0 12px;
}

.newsroom-service-page h2 ~ h2:before {
  content: "2";
}
/*# sourceMappingURL=nexteuropa_newsroom.css.map */
