.form-disabled textarea.form-xmltext {
    background-color: #EEEEEE;
    color: #777777;
}

textarea.form-xmltext {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #999999 #CCCCCC #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    padding: 2px;
}

textarea.form-xmltext:focus {
    border-color: #AACCEE;
    color: #000000;
}
