
/**
 * Screenshot field.
 */
.views-system-screenshot-large {
  border: 1px solid #e0e0d8;
  padding: 2px;
  vertical-align: bottom;
  width: 294px;
  height: 219px;
  line-height: 219px;
  text-align: center;
}
.views-system-screenshot-medium {
  border: 1px solid #e0e0d8;
  padding: 2px;
  vertical-align: bottom;
  width: 194px;
  height: 144px;
  line-height: 144px;
  text-align: center;
}
.views-system-screenshot-small {
  border: 1px solid #e0e0d8;
  padding: 2px;
  vertical-align: bottom;
  width: 94px;
  height: 70px;
  line-height: 70px;
  text-align: center;
}
