.like-and-dislike-container a {
  display: inline-block;
  width: 21px;
  height: 21px;
  text-indent: -9999px;
  background: url("../images/icons.png") 0 0 no-repeat;
}
.like-and-dislike-container.like a {
  background-position-y: -88px;
}
.like-and-dislike-container.like a.disable-status {
  background-position-y: -132px;
}
.like-and-dislike-container.dislike a {
  background-position-y: 0;
}
.like-and-dislike-container.dislike a.disable-status {
  background-position-y: -44px;
}
