/* General css. */
div:empty {
  display: block;
}

.error {
  display: block !important;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul li.collapsed,
ul li.expanded {
  list-style-image: none;
  list-style-type: none;
}

h2,
.h2 {
  font-size: 16px !important;
  font-weight: bold;
}

h3,
.h3 {
  font-size: 14px !important;
  font-weight: bold;
}

table {
  border-collapse: inherit !important;
}

img.media-element {
  height: auto !important;
}

.media {
  margin: 0;
}

.media-element-container.media-default > img {
  display: inline !important;
}

.list-group-item {
  margin-bottom: 0;
  border: 0 none !important;
}

.form-wrapper:not(fieldset) {
  margin: 1em 0;
}

.form-item {
  margin: 0;
}

.field-label,
.form-item label {
  text-transform: inherit !important;
}

.form-item input.default {
  width: inherit !important;
}

.node .node-private {
  display: block;
  float: none !important;
  padding: 5px;
  margin: 5px 0;
  width: 100%;
}

.table > thead > tr > th {
  background-color: lightgray;
  padding: 5px;
}

.profile small {
  display: none;
}

body {
  background: #cccccc url("../images/bg_body.gif");
}

.views-submit-button {
  clear: left;
}

.welcome-message-title {
  text-align: center;
  padding: 5px;
}

.welcome-message-body {
  padding: 5px 15px;
}

.blue-gradient-border {
  background-color: #d3ebfd;
  padding: 0;
  border: 15px solid #d3ebfd;
}

@font-face {
  font-family: 'Counter Flipper';
  src: url("../fonts/CounterFlipper-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.center {
  text-align: center;
}

.button {
  background-color: #d9edf7;
  color: #333;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #85c5e5;
  display: inline-block;
  vertical-align: middle;
  touch-action: manipulation;
  margin: 0 3px;
}

.group-panel-section {
  border: 1px solid gray;
  padding: 3px;
}

.advanced-help-link {
  float: left;
}

.front .views-field.views-field-group-group {
  text-align: center;
}

.view-group-admin-panel .grid-item {
  padding-bottom: 15px;
}

.form-control.chosen-container {
  height: auto;
}

/* PDF reader. */
#pdf_reader {
  width: 100%;
}

/* Maxi menu. */
.om-maximenu.om-maximenu-block.om-maximenu-row {
  font-size: .85em;
}

.om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu {
  width: 100%;
}

.om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf {
  height: 40px;
}

.om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf .om-maximenu-content {
  border: 1px solid #074a8b;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 20px 20px rgba(0,0,0,.7);
  top: 40px;
}

.om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf .om-maximenu-content  h6 {
  font-size: 1.5em;
  color: #369;
  margin-bottom: 1em;
  margin-top: 0;
}

.om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf .om-maximenu-content  ul {
  list-style: none;
  float: right;
  width: 50%;
  margin: 0 0 0 50px;
  padding: 0;
}

.om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf .om-maximenu-content  ul  li:first-child {
  border-top: 1px solid #99a;
}

.om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf .om-maximenu-content  ul  li {
  border-bottom: 1px solid #99a;
}

.om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf .om-maximenu-content  ul  li a {
  padding: .5em 0;
  color: #111;
  display: block;
}

.om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf .om-link {
  padding: 10px 15px;
  line-height: 17px;
  font-size: 15px;
}

.om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf .om-maximenu-content .om-maximenu-open {
  display: none;
}

.om-maximenu-no-style .om-maximenu-middle {
  background: transparent;
}

.om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf .om-maximenu-content .om-maximenu-middle-right {
  border: 0;
  border-radius: 0 0 8px 8px;
  padding: 20px 63px 30px 63px;
  display: inline-block;
}

#om-maximenu-main-menu .link-home {
  background: rgba(0, 0, 0, 0) url("../images/jrc_homepage_icon.png") no-repeat scroll 15px 7px;
  background-size: 20px;
  margin: 0;
  padding: 10px 25px;
  width: 20px;
  font-size: 0;
  height: 100%;
}

.om-maximenu ul.om-menu li.om-leaf {
  position: static;
}

.om-maximenu .om-maximenu-content {
  width: 100%;
}

.navbar-collapse {
  padding: 0;
}

.navbar {
  min-height: 40px;
}

/* Menu. */
.menu li.expanded ul,
.menu li.collapsed ul {
  float: left;
  position: absolute;
  left: 100%;
  z-index: 10;
  margin: -41px 0 0 -15px !important;
  border: 1px solid #ddd;
  display: none;
}

.menu li.expanded:hover ul,
.menu li.collapsed:hover ul {
  display: block;
}

.leaflet-menu {
  z-index: auto !important;
}

#science-hub-home {
  padding-top: 12px;
}

/* Rate thumb up button */
.rate-thumbs-up-btn-up {
  float: left !important;
}

.rate-info,
.rate-description {
  clear: none !important;
  line-height: 25px;
}

.rate-widget-2 {
  float: left;
  min-width: 60%;
  width: auto;
  padding: 0;
  margin: 0;
}

/* Page hit count with Statistics module */
.link-wrapper.right {
  width: auto !important;
  padding: 0 !important;
  margin: 0;
}

.link-wrapper.right .statistics_counter {
  font-family: 'Counter Flipper';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

/* Community header banner. */
.view-community-header-banner img {
  height: auto;
  width: 100%;
}

/* Community content type. */
.node-type-community #block-system-main {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.node-type-community #block-system-main .panel-body {
  padding: 0;
}

.node-type-community #block-system-main .field-name-body {
  background-color: white;
  padding: 15px;
}

/* Ui-dialog. */
.ui-dialog {
  background: white none repeat scroll 0 0;
  border: 2px solid gray;
  padding: 10px;
  z-index: 100;
}

.ui-widget-overlay {
  background: #aaaaaa none repeat scroll 0 0 !important;
  opacity: 0.3 !important;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.ui-dialog #block-block-21 {
  height: 800px !important;
  overflow: auto;
}

/* Service tools menu links. */
#block-menu-menu-service-tools .menu li.first a,
#block-cce-basic-config-footer-ipg .menu li.first a {
  background-color: transparent;
}

/* pager */
.item-list .pager li {
  padding: 0 !important;
}
.item-list ul {
  margin-top: 2em;
}

/* Fields. */
.page-user .form-item-pass .item-list {
  background-color: #d3ebfd;
  border: 15px solid #d3ebfd;
}

.page-user .form-item-pass .item-list h3 {
  margin-top: 0;
}

.page-user .field-type-datetime {
  border: none;
  padding: 0;
  margin: 0;
}

.page-user h2 {
  margin-top: 0;
}

.page-user #jrc-profile-linkedin-link {
  background: transparent url("../images/linkedin.png") no-repeat scroll 0 0 / 100% auto;
  background-size: 32px;
  height: 32px;
  width: 32px;
  color: transparent;
  margin: 0 0px;
  float: left;
}
.page-user #jrc-profile-research-gate-link {
  background: transparent url("../images/ResearchGate.png") no-repeat scroll 0 0 / 100% auto;
  background-size: 32px;
  height: 32px;
  width: 32px;
  color: transparent;
  margin: 0 0px;
  float: left;
}
.page-user #jrc-profile-facebook-link {
  background: transparent url("../images/facebook_logo.png") no-repeat scroll 0 0 / 100% auto;
  background-size: 32px;
  height: 32px;
  width: 32px;
  color: transparent;
  margin: 0 0px 0 0;
  float: left;
}

.page-user #jrc-profile-twitter-link {
  background: transparent url("../images/twitter_logo.png") no-repeat scroll 0 0 / 100% auto;
  background-size: 32px;
  height: 32px;
  width: 32px;
  color: transparent;
  margin: 0 0px;
  float: left;
}

.btn-margin-top {
  margin: 27px 0px 0px;
  padding: 5px;
}

@media screen and (max-width: 320px) {
  .ds-3col-stacked-fluid > .group-left {
    width: 100%;
  }
  .ds-3col-stacked-fluid.group-one-sidebar > .group-middle {
    width: 100%;
  }
  .page-user .views-field-privatemsg-link a {
    width: 23.5em;
  }
}

@media screen and (max-width: 480px) {
  .ds-3col-stacked-fluid > .group-left {
    width: 100%;
  }
  .ds-3col-stacked-fluid.group-one-sidebar > .group-middle {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .page-user .views-field-privatemsg-link a {
    width: 23.5em;
  }
}

@media screen and (max-width: 1200px) {
  .ds-3col-stacked-fluid > .group-left {
    width: 100%;
  }
  .ds-3col-stacked-fluid.group-one-sidebar > .group-middle {
    width: 100%;
  }
  .page-user .views-field-privatemsg-link a {
    width: 23.5em;
  }
}

li {
  margin-left: 20px;
}

.page-user .views-field-privatemsg-link a {
  float: left;
  background-position: 1px center;
  background-size: auto 25px;
  border: 1px solid #21ade4;
  font-size: 10px;
  height: 32px;
  padding: 6px 3px 0 37px;
  color: unset;
  width: 90%;
  margin: 0 10% 0 0;
}

.page-user .views-field-privatemsg-link a:hover {
  background-color: #21ade4;
  color: white;
  text-decoration: unset;
}

.page-user fieldset.collapsible {
  line-height: 2em;
}

.page-user .group-footer {
  padding-top: 20px;
}

.page-user .panel-default > .panel-heading {
  background-color: #21ade4;
  border-color: #21ade4;
  border-radius: 0;
}

fieldset.collapsible legend {
  float: right;
  margin: 0;
  font-size: 1em;
  border: none;
  width: auto;
}

.page-user fieldset.collapsible legend {
  margin: 10px 0 0;
  float: left;
  width: 100%;
}

.collapse-processed .fieldset-legend  a {
  color: #fff;
  text-decoration: none;
}

.collapse-processed .fieldset-legend {
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  background-color: #21ade4 !important;
  line-height: 1.8em;
  border: 1px solid #fff;
  border-radius: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-color: #21ade4;
}

#edit-picture .fieldset-legend {
  background-color: lightgray !important;
}

#edit-picture .fieldset-wrapper,
#edit-contact .fieldset-wrapper {
  border: none;
}

.page-user .collapse-processed .fieldset-legend {
  border-width: 0;
  border-radius: 0;
}

.collapse-processed.collapsed .fieldset-legend {
  border-radius: 15px;
  background-color: #f7f8f6;
  border-color: #888;
  margin-bottom: 0;
}

.collapse-processed .fieldset-wrapper {
  clear: both;
  padding: 15px;
  border-top: 5px solid #21ade4;
  border-bottom: 2px dotted #21ade4;
  background-color: #f7f8f6;
  box-shadow: 0px 2px 10px rgba(0,0,0,.25);
}

.field-image-caption {
  display: none;
}

.field-name-field-caption {
  margin-bottom: 0 !important;
}

.form-email {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}

/* User profile page */
.page-user-edit #edit-field-creator {
  display: none !important;
}

.page-user-edit #edit-locale {
  display: none !important;
}

.page-user-edit .fieldset-legend {
  font-family: Verdana,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.page-user-edit #edit-contact .fieldset-legend {
  display: none;
}

.page-user-edit .user-picture {
  float: right;
}

.page-user-edit #edit-picture .fieldset-legend {
  background-color: #21ade4 !important;
  color: white;
}

.page-user-edit #edit-contact {
  display: none;
}

.field-name-field-background-image img {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1000;
}

#edit-field-firstname-value,
#edit-field-lastname-value {
  width: 200px;
}

#edit-field-field-of-expertise-tid {
  width: 400px;
}

.field-type-file .file-image img,
.field-type-image img {
  width: 100%;
}

.field-type-file audio {
  width: 100%;
}

.node-community .field-name-group-group {
  text-align: center;
}

.node-community .field-name-group-group .field-item a {
  color: #fff !important;
}

.node-community .field-name-group-group {
  margin: 0 35%;
  width: auto;
}

.field-type-datetime,
.field-name-field-event-location,
.field-name-field-your-file-authors,
.field-name-field-reference-url,
.field-name-field-organisers {
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin: 5px 0;
  padding: 10px;
}

.field-type-datetime .date-display-start,
.field-type-datetime .date-display-end {
  font-weight: bold;
}

.view-id-library .views-view-grid .col-md-4 {
  border: 1px solid lightgrey;
  text-align: center;
}

.file-video .content {
  text-align: center;
}

#edit-field-do-you-have-other-field-of .form-required {
  display: none;
}

#edit-body-und-0-format {
  display: none;
}

/* Blocks. */
#block-menu-menu-communities-menu .panel-heading {
  display: none;
}

#block-block-2 .messages {
  margin: 0;
}

#block-block-2 .panel-body,
#block-block-4 .panel-body,
#block-block-8 .panel-body {
  padding: 0;
}

#block-block-4 p,
#block-block-5 p,
#block-block-8 p {
  display: none;
}

#block-block-4 .field-label-hidden {
  display: none;
}

#block-views-jrc-communities-members-block-2 .views-field-view-user {
  width: 80%;
  float: left;
}

#block-views-jrc-communities-members-block-2 .views-field-contact {
  width: 20%;
  float: right;
}

#block-views-communities-members-block-2 .views-field-contact a {
  padding: 7px;
}

#block-views-communities-members-block-2 .panel-body {
  padding-bottom: 0;
}

#block-block-6 .panel-body {
  padding: 0 !important;
}

#block-views-community-content-block-content ul {
  padding: 0;
  list-style-image: none;
  list-style-type: none;
}

#block-views-community-content-block-content li {
  list-style-image: none;
  list-style-type: none;
}

/* Views. */
.view-jrc-communities-members.view-display-id-block_2 li {
  width: 100%;
  display: inline-flex;
}

.view-display-id-page_4 .views-field-title {
  height: 100px;
  margin-top: 10px;
}

.view-display-id-page_4 .views-field-field-your-video-file {
  margin-bottom: 10px;
}

/* Regions. */
#layout-footer {
  background-color: unset;
}
.region-content-top .panel-body {
  padding: 0;
}

.region-content-top p {
  margin: 0 !important;
}

/* Comments. */
.comment-unpublished .panel-body.content {
  background-color: pink !important;
}

.comment-unpublished .panel-body.content {
  padding: 15px !important;
}

/* Front page carousel. */
.carousel {
  max-width: none !important;
}

.flexslider.carousel {
  margin-bottom: 32px !important;
}

.flexslider .slides img {
  height: 180px !important;
}

.carousel-inner {
  padding: 10px;
}

.carousel-caption a {
  text-decoration: underline;
}

/* Private messages. */
.page-messages fieldset.collapsible legend {
  float: right;
  margin: 0 !important;
  font-size: 1em;
  border: none;
  width: auto;
}

.page-messages .collapse-processed .fieldset-legend  a {
  color: #fff;
}

.page-messages .collapse-processed .fieldset-legend {
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  background-color: #21ade4 !important;
  line-height: 1.8em;
  border: 1px solid #fff;
  border-radius: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-color: #21ade4;
}

.page-messages .collapse-processed.collapsed .fieldset-legend {
  border-radius: 15px;
  background-color: #f7f8f6;
  border-color: #888;
  margin-bottom: 0;
}

.page-messages .collapse-processed .fieldset-wrapper {
  clear: both;
  padding: 15px;
  border-top: 5px solid #21ade4;
  border-bottom: 2px dotted #21ade4;
  background-color: #f7f8f6;
  box-shadow: 0px 2px 10px rgba(0,0,0,.25);
}

.page-messages .action-links {
  z-index: 1;
  list-style-type: none;
  background: white none repeat scroll 0 0;
  padding: 10px 2px;
  margin: 0 2px;
}

.page-messages .action-links a {
  color: rgb(51, 51, 51);
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid rgb(133, 197, 229);
  background-color: rgb(217, 237, 247);
  text-decoration: none;
}

.page-messages .action-links a:hover {
  background-color: #afd9ee;
  border-color: #52addb;
}

.page-messages #privatemsg-list .form-item .form-control {
  width: auto;
  display: inline-block;
}

.page-messages .privatemsg-message {
  clear: both;
  max-width: unset;
}

.page-messages #privatemsg-new {
  clear: both;
}

.privatemsg-message-body {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #bbeea0;
  margin: 0 0 0 10%;
}

.privatemsg-message-body.message-own {
  background-color: #d3ebfd;
  margin: 0 10% 0 0;
}

.views-field-privatemsg-link a {
  background: transparent url("../images/envelope.png") no-repeat scroll 0% 0% / 100% auto;
  display: inline-block;
  height: 40px;
  width: 50px;
  background-repeat: no-repeat;
  background-size: 100%;
  color: transparent;
}

/* Full calendar */
.fc-header-title h2 {
  font-size: 10px !important;
}

.view-display-id-page_4 .views-field-title {
  height: 60px;
}

.view-display-id-page_4 .views-field-field-your-video-file {
  width: 100%;
}

.view-display-id-page_4 .views-field-field-your-video-file video {
  width: 100%;
}

.view-display-id-calendar_block .fc-button.fc-button-prev,
.block .view-display-id-calendar_block .fc-button.fc-button-next {
  padding: 0 !important;
  height: 30px !important;
  width: 30px !important;
}

.fc-button-resourceDay {
  display: none;
}

.field-type-datestamp {
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin: 5px 0;
  padding: 10px;
}

.field-type-datestamp .date-display-start,
.field-type-datestamp .date-display-end {
  font-weight: bold;
}

/* Poll module */
.poll .vote-form .choices {
  width: 100%;
}

.poll .vote-form {
  text-align: unset !important;
}

.poll div:empty {
  display: unset;
}

.poll .bar .foreground {
  background-color: #0065a2 !important;
}

/* Bean block - Share button */
#block-bean-share-button {
  width: 194px;
  height: 44px;
}

/* Bean block - Twitter */
#block-bean-jrc-evidence-to-inform-policy-tw .panel-body.content {
  max-height: 320px;
  overflow: auto;
  padding: 0;
}

.block-bean .panel-body.content h2 {
  display: none;
}

.block-bean .panel-body.content {
  padding: 0;
}

.smk-tweets {
  background-color: #f3f3f3 !important;
}

.smk-more {
  background: #efefef none repeat scroll 0 0;
  border: 1px solid #bebfc0;
  border-radius: 15px;
  font-size: 0.85em;
  padding: 4px 16px;
  position: relative;
  cursor: pointer;
  margin: 10px;
  text-align: center !important;
  width: 200px;
}

/* attach file field */
.page-node:not(.admin-menu) .field-type-file {
  margin: 10px 0;
  box-shadow: 0px 2px 10px rgba(0,0,0,.25);
  padding: 5px;
}

.page-node:not(.admin-menu) .field-type-file .fieldset-wrapper label {
  display: none;
}

.page-node:not(.admin-menu) .field-type-file label {
  padding: 0 5px;
  background-image: linear-gradient(to bottom,#ebebeb,#cfd1cf);
  line-height: 2em;
}

.page-node:not(.admin-menu) .field-type-file legend {
  margin: 0;
  padding: 0 5px;
  background-image: linear-gradient(to bottom,#ebebeb,#cfd1cf);
  font-size: 14px;
  font-weight: bold;
  line-height: 2em;
}

.page-node:not(.admin-menu) .field-type-file thead {
  box-shadow: 10px 10px 100px rgba(0,0,0,.25);
}

.page-node:not(.admin-menu) .field-type-file thead th {
  background-image: linear-gradient(to bottom,#ebebeb,#cfd1cf);
  border: none;
}

.page-node:not(.admin-menu) .field-type-file .button {
  margin: 5px 0 0;
}

.page-node:not(.admin-menu) .field-type-file .button.edit {
  margin: 5px;
}

/* text field */
.page-node:not(.admin-menu) .field-type-text {
  box-shadow: 0px 2px 10px rgba(0,0,0,.25);
  padding: 5px;
  margin: 10px 0px;
}

.page-node:not(.admin-menu) .field-type-text thead th {
  background-image: linear-gradient(to bottom,#ebebeb,#cfd1cf);
  border: none;
  line-height: 2em;
  padding: 0;
}

.page-node:not(.admin-menu) .field-type-text thead th label {
  margin: 0 5px;
}

.page-node:not(.admin-menu) .field-type-text label {
  padding: 0 5px;
  background-image: linear-gradient(to bottom,#ebebeb,#cfd1cf);
  line-height: 2em;
}

.page-node:not(.admin-menu) .field-type-text .form-submit {
  margin: 5px 10px;
}

/* date field */
.page-node:not(.admin-menu) .field-type-datetime,
.page-node:not(.admin-menu) .field-type-datestamp {
  box-shadow: 0px 2px 10px rgba(0,0,0,.25);
  padding: 5px;
}

.page-node:not(.admin-menu) .field-type-datetime legend,
.page-node:not(.admin-menu) .field-type-datestamp legend {
  margin: 0;
  padding: 0 5px;
  background-image: linear-gradient(to bottom,#ebebeb,#cfd1cf);
  font-size: 14px;
  font-weight: bold;
  line-height: 2em;
}

/* bolean field */
.page-node:not(.admin-menu) .field-type-list-boolean {
  box-shadow: 0px 2px 10px rgba(0,0,0,.25);
  padding: 5px;
}

.page-node:not(.admin-menu) .field-type-list-boolean label:not(.option) {
  padding: 0 5px;
  background-image: linear-gradient(to bottom,#ebebeb,#cfd1cf);
  line-height: 2em;
}

/* Integer list field */
.page-node:not(.admin-menu) .field-type-list-integer {
  box-shadow: 0px 2px 10px rgba(0,0,0,.25);
  padding: 5px;
}

.page-node:not(.admin-menu) .field-type-list-integer label:not(.option) {
  padding: 0 5px;
  background-image: linear-gradient(to bottom,#ebebeb,#cfd1cf);
  line-height: 2em;
}

/* Event registration field */
.page-node:not(.admin-menu) .field-type-registration {
  box-shadow: 0px 2px 10px rgba(0,0,0,.25);
  padding: 5px;
}

.page-node:not(.admin-menu) .field-type-registration label:not(.option) {
  padding: 0 5px;
  background-image: linear-gradient(to bottom,#ebebeb,#cfd1cf);
  line-height: 2em;
}

/* image field */
.page-node:not(.admin-menu) .field-type-image {
  box-shadow: 0px 2px 10px rgba(0,0,0,.25);
  padding: 5px;
}

.page-node:not(.admin-menu) .field-type-image .fieldset-wrapper label {
  display: none;
}

.page-node:not(.admin-menu) .field-type-image label {
  padding: 0 5px;
  background-image: linear-gradient(to bottom,#ebebeb,#cfd1cf);
  line-height: 2em;
}

.page-node:not(.admin-menu) .field-type-image legend {
  margin: 0;
  padding: 0 5px;
  background-image: linear-gradient(to bottom,#ebebeb,#cfd1cf);
  font-size: 14px;
  font-weight: bold;
  line-height: 2em;
}

.page-node:not(.admin-menu) .field-type-image .button {
  margin: 5px 0 0;
}

.page-node:not(.admin-menu) .field-type-image .button.edit {
  margin: 5px;
}

/* taxonomy select field type */
.page-node:not(.admin-menu) .field-type-taxonomy-term-reference .form-type-select {
  box-shadow: 0px 2px 10px rgba(0,0,0,.25);
  padding: 5px;
}

.page-node:not(.admin-menu) .form-type-select label {
  padding: 0 5px;
  background-image: linear-gradient(to bottom,#ebebeb,#cfd1cf);
  line-height: 2em;
}

/* taxonomy text field type */
.page-node:not(.admin-menu) .field-type-taxonomy-term-reference .form-type-textfield {
  box-shadow: 0px 2px 10px rgba(0,0,0,.25);
  padding: 5px;
}

.page-node:not(.admin-menu) .field-type-taxonomy-term-reference label {
  padding: 0 5px;
  background-image: linear-gradient(to bottom,#ebebeb,#cfd1cf);
  line-height: 2em;
}

/* Link field */
.page-node:not(.admin-menu) .field-type-link-field {
  box-shadow: 0px 2px 10px rgba(0,0,0,.25);
  padding: 5px;
}

.page-node:not(.admin-menu) .field-type-link-field label {
  padding: 0 5px;
  background-image: linear-gradient(to bottom,#ebebeb,#cfd1cf);
  line-height: 2em;
}

/* Community node */
.page-node:not(.admin-menu) .node-community-form #edit-delete {
  display: none;
}

.node-photo .field-name-field-your-photo-file .field-items {
  display: flex;
  flex-wrap: wrap;
}

.node-photo .field-name-field-your-photo-file .field-items .field-item {
  margin: 10px;
}

.node-photo .field-name-field-your-photo-file .field-items .field-item img {
  width: auto;
}

#block-block-23 {
  display: none;
}

#block-bean-humaint-tweets .panel-body.content {
  max-height: 320px;
  overflow: auto;
  padding: 0;
}


.field.field-name-group-group.field-type-list-boolean.field-label-hidden.btn.btn-info {
  display: block;
  float: right;
  margin-bottom: 5px;
  min-width: 220px;
}

#block-block-3 .library-icons {
  width: 100%;
}

#block-block-3 .library-icons td {
  text-align: center;
}

.tableauPlaceholder {
  width: 100% !important;
  height: auto !important;
}

#block-bean-cop-bioeconomy-tweets .panel-body.content {
  max-height: 320px;
  overflow: auto;
  padding: 0;
}
ul,
ol {
  margin-left: 25px;
}
#comments .comment-permalink {
  display: none;
}

/* Twitter blocks */
#block-bean-cop-bioeconomy-tweets .panel-body.content,
#block-bean-enlightenment2-tweets .panel-body.content {
  max-height: 320px;
  overflow: auto;
  padding: 0;
}

.nav-tabs {
  margin: 0 !important;
}

.page-node:not(.admin-menu) .form-type-select {
  box-shadow: 0px 2px 10px rgba(0,0,0,.25);
  padding: 5px;
}

/* fix the leftside bar block buttons */
.left_sidebar_block_button {
  width: 100%;
  margin-top: 20px;
}

/* Hide some fields from some roles */
.role-contributor-member .hide_notify_from_non_editors,
.role-member .hide_notify_from_non_editors {
  display: none;
}

/* Add a class for showin/hidding the entityform features */
.entityform-menu .enityform-feature {
  display: block;
}

.enityform-feature {
  display: none;
}
