/* Communities custom requests. */
/* Alumni community */
.page-node-2 #useful-links-link,
.page-community-2 #useful-links-link,
.og-context-node-2 #useful-links-link {
  display: none;
}

/* EU Policy Lab: Future of Industry */
.og-context-node-248 #block-om-maximenu-om-maximenu-1 {
  display: none;
}

/* Evidence for Policy Community */
.page-community-76 .view-library #edit-realname-wrapper,
.page-community-76 .view-library .views-field-name,
.page-community-76 .view-library-tags-table .views-field-name {
  display: none;
}

.page-node-76 #useful-links-link,
.page-community-76 #useful-links-link,
.og-context-node-76 #useful-links-link,
.page-node-76 #polls-link,
.page-community-76 #polls-link,
.og-context-node-76 #polls-link,
.page-node-76 #articles-link,
.page-community-76 #articles-link,
.og-context-node-76 #articles-link {
  display: none;
}

.page-node-add.og-context-node-76 #edit-group-content-access {
  display: none;
}

.og-context-node-76 .ui-dialog-titlebar-close {
  float: right;
  color: transparent;
  height: 23px;
  width: 33px;
}

/* JRC National Contact Points Network */
.page-node-342 #articles-link,
.page-community-342 #articles-link,
.og-context-node-342 #articles-link {
  display: none;
}

.page-node-342 #events-link,
.page-community-342 #events-link,
.og-context-node-342 #events-link {
  display: none;
}

/* European TTO circle */
.page-node-629 .file-size,
.page-community-629 .file-size,
.og-context-node-629 .file-size,
.page-node-629 .file-icon,
.page-community-629 .file-icon,
.og-context-node-629 .file-icon,
.page-node-629 #block-block-6,
.page-community-629 #block-block-6,
.og-context-node-629 #block-block-6 {
  display: none;
}

/* Innovation community (Beta) */
.page-node-717 .file-size,
.page-community-717 .file-size,
.og-context-node-717 .file-size,
.page-node-717 .file-icon,
.page-community-717 .file-icon,
.og-context-node-717 .file-icon {
  display: none;
}

/* Research and Innovation Observatory (RIO) */
.page-node-891 #articles-link,
.page-community-891 #articles-link,
.og-context-node-891 #articles-link,
.page-node-891 #polls-link,
.page-community-891 #polls-link,
.og-context-node-891 #polls-link {
  display: none;
}

/* Bioeconomy - From Database to code */

#block-bean-cop-bioeconomy-tweets .panel-body.content {
  max-height: 320px;
  overflow: auto;
  padding: 0;
}

/* Copfir - From Database to code */

.page-community-1146 #forum-link,
.page-community-1146 #polls-link,
.page-community-1146 #events-link {
  display: none;
}
